/* src/style/AdminDashboard.css */

.admin-dashboard-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center text */
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.dashboard-summary {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%; /* Full width within the container */
  max-width: 800px; /* Maximum width for summary box */
  margin: 0 auto; /* Center the summary box */
}

.dashboard-summary p {
  font-size: 18px;
  color: #555;
}

.search-container {
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin: 0 auto; /* Center the search input */
  display: block;
}

.hotel-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; /* Ensure the list takes full width of the container */
  max-width: 800px; /* Maximum width for list */
  margin: 0 auto; /* Center the list */
}

.hotel-list-item {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 10px auto; /* Center each list item */
  width: 100%; /* Full width within the container */
  max-width: 800px; /* Maximum width for list items */
  display: flex;
  align-items: center;
  justify-content: center; /* Center items in the list item */
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
}

.hotel-list-content {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.hotel-image {
  max-width: 150px;
  height: auto;
  border-radius: 8px;
}

.hotel-info {
  flex: 1;
}

.hotel-actions {
  display: flex;
  flex-direction: row;
  gap: 13px;
  margin-top: 10px;
}

.update-button, .delete-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; /* Ensure buttons take full width of their container */
  max-width: 150px; /* Maximum width for buttons */
  margin: 0 auto; /* Center the buttons */
}

.update-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #c82333;
}
