.container {
    /* display: ; */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height for vertical centering */
    width: 100vw;  /* Full viewport width for horizontal centering */
    background-color: transparent; /* No background color */
  }
  
  .card {
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  